body {
    background-color: #2b2b2b;
    font-family: Bahnschrift;
    min-width: 700px;
    color: #fff;
}
.navbar {
    list-style-type: none;
    text-align: left;
    padding: 0;
    margin: 20px;
    font-weight: 700;
}
.navbar li {
    display: inline-block;
    font-size: 38px;
    padding: 0 10px 0 10px;
    vertical-align: middle;
}
.inner-nav {
    display: inline-block;
    background-color: #232323;
    position: relative;
    top: 9px;
    left: -10px;
    height: 40px;
    border-radius: 0 20px 20px 0;
}
.logo {
    display: inline-block;
    background-color: #232323;
    border-radius: 100px;
    width: 75px;
    height: 75px;
    padding: 0;
    justify-content: center;
}
.logo img {
    display: inline-block;
    width: 50px;
    padding: 0;
    position: relative;
    top: 10px;
    left: 2px;
}
.selected {
    color: #fff;
}
.unselected {
    color: rgba(255, 255, 255, 0.75);
}
.unselected:hover {
    color: #fff;
}
.navtext {
    text-decoration: none;
}
.bold {
    font-weight: 700;
}
.main {
    margin-left: 40px;
}
.subtitle {
    font-size: 4vmax;
    margin: 0;
    padding: 0;
    color: rgb(255, 255, 255, 0.75);
}
.title {
    font-size: 7vmax;
    margin: 0;
}
.subheading {
    font-size: 3vmax;
    margin: 0;
}
hr {
    margin: 50px 0 50px -30px;
    opacity: 0.2;
}
p {
    font-size: 20px;
}
